.navbar {
    display: flex;
    padding: 1.5rem 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.319);
    justify-content: space-between;
    align-items: center;
}

.logo-button {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.logo {
    height: 1.8rem;
    margin-right: 1rem;
}

.logo-text {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
}

.button {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
}

.navbar-buttons {
    gap: 2rem;
}

.auth-buttons {
    gap: 2rem;
    align-items: center;
}

.sign-up {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.sign-up:hover {
    color: #F0F0F0;
}

.log-in {
    color: var(--background);
    font-size: 1.5rem;
    font-weight: 400;
    background-color: white;
    border-radius: 10px;
    padding: 0.6rem 1.6rem;
}

.log-in:hover {
    background-color: #F0F0F0;
}

.selected-button {
    color: var(--main);
}