.select {
	min-width: fit-content;
	padding: 1rem 2.25rem 1rem 3rem;
	border-radius: 10px;
	font-size: 1.4rem;
	background-color: var(--gray);
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 2rem;
	cursor: pointer;
}

.polygon {
	width: 0;
	height: 0;
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-top: 0.6rem solid white;
	margin-left: auto;
}

@media (hover: hover) and (pointer: fine) {
	.select:hover {
		background-color: var(--gray-hover);
	}
}